header{
    background-color: #002982;
    color:  #f44f9a;
    text-align: center ;
}

main{
    background-color: #f44f9a;
    color: #002982;
    text-align: center;
}
 img { 
width: 150px;
height: 150px;

}
 
div{
    padding: 20px;
    border: 2px solid #1824EA;
    margin: 30px;
}