header{
    background-color: #1824EA;
    color: #2cb001;
    text-align: center ;
}

main{
    background-color: #DDFB00;
    color: #1824EA;
    text-align: center;
}

div{
    padding: 20px;
    border: 2px solid red;
    margin: 30px;
}