header{
    background-color: #1824EA;
    color:  #49f8a0;
    text-align: center ;
}

main{
    background-color: #49f8a0;
    color: #1824EA;
    text-align: center;
}
 img { 
width: 150px;
height: 150px;

}
 
div{
    padding: 20px;
    border: 2px solid red;
    margin: 30px;
}